html
    head
        title Quizy
    style
        include style.css
    body
        span(class="incorrect") #{message}
        h2 Dostępne quizy
        div
        each quiz in quizzes
            div(class='intr') #{quiz.intro}
                br
                button(onclick="location.href = '/quiz/" + quiz.id + "'") Rozwiąż
        br
        a(href="/profile") Profil
