html
    head
        title Profil
    style
        include style.css
    body
        h2 Profil użytkownika #{user.username}
        br
        a(href="/") Quizy
        br
        a(href="/solved") Rozwiązane quizy
        br
        a(href="/change") Zmień hasło
        br
        a(href="/logout") Wyloguj się
