doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Quiz
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', media='screen', href='style.css')
        script(src='./src/quiz.js')
    body
        #intro
        br
        #question
        button#start(type='button')  Zacznij nowy quiz
        #quiz
            input#answer(type='text')
            br
            button#prev(type='button')  <
            button#stop(type='button')  Stop
            button#next(type='button')  >
            #footer
            #timer
            button#cancel(type='button')  Anuluj quiz
        #stats
            input#chbox(type='checkbox', value='stats')
            |  Zapisz statystyki
            br
            button#save(type='button')  Zapisz wynik
        br
        br
        #storage
            | Top 5 najlepszych wyników :
            br
            ul#storage-list
        br
