doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Quiz
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style
            include style.css
        script.
             quiz = !{JSON.stringify(quiz)}
             questions = !{JSON.stringify(questions)}
             maxNum = #{questions.length};
             answers = new Array(maxNum);
             times = new Array(maxNum);
        script
            include ../src/quiz.js
    body
        #intro
        br
        #question
        button#start(type='button')  Zacznij quiz
        #quiz
            input#answer(type='text')
            br
            button#prev(type='button')  <
            button#stop(type='button')  Stop
            button#next(type='button')  >
            #footer
            #timer
            button#cancel(type='button')  Anuluj quiz
